:root {
    --text-color: #d1d1d1;
    --background-color: #1d1d20;
    --proyects-background: #d9d9d9;
}

ul {
    list-style: none;
}

hr {
    border: 1px solid #1d79f0;
}

body {
    /* background: linear-gradient(to bottom, #fff, #d7d7d7, #b5b5b5, #222); */
    background-color: var(--background-color)
}

main {
    display: flex;
    flex-direction: column;
    /* flex-basis: var(--mobile-section-min-height); */
    flex-grow: 2;
    flex-shrink: 0;
    /* padding-bottom: 2.8rem; */
}

/* Flags */

.flags {
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
    margin: 1rem 1rem 0;
}

.flags > div {
    display: flex;
    flex-wrap: nowrap;
}

.flags img {
    width: 1.8em;
    height: 1.2em;
    border-radius: 4px;
    margin: 0 4px 0;
    cursor: pointer;
}

.flags .flag {
    filter: grayscale(100%);
    border: .75px solid #717070;
}

.flags .flag:hover {
    filter:grayscale(0%) !important;
}

.flags .flag_active {
    filter:grayscale(0%) !important
}

/* Information */

.info {
    user-select: none;
    padding: 0.7rem;
    padding-right: 1.5rem;
    font-size: 20px;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-bottom: 5rem;
    color: var(--text-color)
}

.photo { 
    width: 180px;
    height: 180px; 
}

/* Adaptive design */

@media only screen and (min-width: 360px) { 
    .info article { font-size: 1.1em; } 
    .info h3 { font-size: 1.3em; }
    .proyects > div { font-size: .8em; }
    .photo { width: 270px; height: 270px; }
} 

@media only screen and (min-width: 480px) { 
    .info article { font-size: 1.2em; } 
    .info h3 { font-size: 1.5em; }
    .proyects > div { font-size: 1em; }
} 

@media only screen and (min-width: 720px) { 
    .photo { width: 310px; height: 310px; }
    .info article { font-size: 1.3em; } 
    .info h3 { font-size: 1.6em; }
    .info {
        padding-left: 2rem;
        padding-right: 2.8rem;
    }
    .proyects > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
} 

@media only screen and (min-width: 1024px) { 
    .info_paragraph { margin-right: 2em; }
    .photo { width: 285px; height: 285px; } 
    .proyects > div { grid-template-columns: 1fr 1fr 1fr; }
    .info { 
        flex-direction: row;
        font-size: 1.2em;
        padding-left: 3rem;
        padding-right: 4rem;
    } 
}
