.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 1rem;
    min-width: 100px;
    min-height: 100px;
}

.image {
    display: block;
    object-position: center;
    object-fit: cover;
    border-radius: 70%;
    box-shadow: 5px 5px 15px 5px rgba(112,112,112,0.48);
}